@import "../../mixins.scss";

.carouselSection {
  position: relative;
  margin-top: 70px;
  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carouselTitle {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: normal;
  }
}
